<MarketplaceDetails>
  <SmallAppTile>
  </SmallAppTile>
  <ScreenShots>Guide.png;Scheduled.png;MyShows.png;MyShowsFolder.png;Show Details.png;Show Details2.png;Settings.png;SettingsHome.png;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>